:root{
    --mauve: #918CC2;
    --purple: #25138A;
    --blue: linear-gradient(#1E8CFA, #0F467D);

}

.topnav{
    background-color: var(--purple);
    color: antiquewhite;
}

.sidebar{
    background-image: var(--blue);
}

.sidebar a{
    color: var(--purple);
}

.sidebar a:hover{
    color: antiquewhite;
}

main{
    background-color: var(--mauve);
}

.foot{
    background-color: var(--blue);
}