:root{
    --mauve: #918CC2;
    --purple: linear-gradient(#25138A, #0F467D);
    --blue: linear-gradient(#1E8CFA, #0F467D);

}

.topnav{
    background-image: var(--purple);
    box-shadow: #1E8CFA;
}

.topnav a{
    color: var(--mauve);
}

.topnav a:hover{
    color: antiquewhite;
}

main{
    background-color: var(--mauve);
}

footer{
    background-image: var(--blue);
}