html{
    height: 100%;
    width: 100%;
}

body{
    min-height: 100%;
}

.foot{
    min-height: fit-content;
    min-width: 100%;
    min-height: 100px;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-row-end: 4;
}
.slogan{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    margin: 5px 0px 0px 50px;
    text-align: center;
    vertical-align: middle;
    box-sizing: content-box;
}

.footer-links{
    grid-column-start: 3;
    margin: 5px;
}

.footnav-tag{
    padding: 3px;
    text-align: center;
}

.foot-btn{
    padding: 5px;
    margin: 5px 2px;
    display: flex;
    flex: column nowrap;
}

.topnav{
    min-height: 300px;
    width: 100%;
}

.topnav-menu{
    width: 100%;
    display: flex;
    flex-basis: 1;
    justify-content: space-between;
    min-height: 300px;
    border-bottom: 5px groove #1E8CFA;
}

.logo{
    vertical-align: top;
    align-self: top;
    left: 50%;
    margin-left: -110;
}

.nav-links{
    width: 30%;
    display: flex;
    flex: row wrap;
    margin-left: 30px;
    margin-bottom: 20px;
}

.navmenu-item{
    border-radius: 50px;
    box-sizing: border-box;
    padding: 10px 10px;
    justify-self: flex-start;
    align-self: flex-end;
    left: 0;
    min-width: 175px;
    max-height: 55px;
}

#homebtn{
    box-sizing: border-box;
    padding: 10px 45px;
    margin-bottom: 70px;
}

#aboutbtn{
    box-sizing: border-box;
    padding: 10px 45px;
}

.action-menu{
    display: flex;
    flex: row wrap;
    align-self: flex-start;
    justify-items: right;
    right: 5%;
}

.action-btn{
    justify-self: right;
    border: 1px solid #918CC2;
    padding: 10px 5px;
    margin: 5px 5px;
    right: 5%;
}

.feature-box{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 40px 20px 20px 50px;
}

.feature-tagline{
    justify-self: center;
    text-align: center;
    max-width: fit-content;
    border: 1px solid #25138A;
    padding: 10px 10px;
    border-radius: 18%;
    margin-bottom: 20px;
    margin-left: 90px;
}

.feature-imgs{
    align-self: top;
    justify-content: center;
    text-align: center;
    margin-bottom: 55px;
}

.product-line{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 10px 50px 10px;
    border: 1px solid #25138A;
}

.line-descriptor{
    margin-left: 15px;
    padding: 5px 10px;
    box-sizing: content-box;
    max-width: fit-content;
    border-radius: 22px;
}

.product-box{
    display: flex;
    flex-direction: column;
    border: 1px solid whitesmoke;
    padding: 10px;
    margin: 10px 20px;
    justify-content: center;
    align-content: center;
}

.img-wrapper{
    align-self: center;
    margin: 5px;
    border: 1px solid whitesmoke;
}

.product-name{
    margin: 3px 0px;
    text-align: center;
}

.product-price{
    align-self: center;
    margin: 5px 0px 10px 0px;
}

.atc{
    margin: 3px 0px 0px 0px;
    max-width: fit-content;
    text-align: center;
    align-self: center;
}

.atw{
    max-width: fit-content;
    text-align: center;
    align-self: center;
}

.directory-box{
    display: flex;
    flex-flow: row wrap-reverse;
    max-width: 400px;
    flex-grow: 1;
    align-self: center;
    justify-self: right;
    margin-right: 50px;
}

.directory-imgs{
    display: flex;
    justify-content: right;
    margin: 0px 2px;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border-radius: 4px;
}

.product-wrapper{
    max-height: 460px;
    margin-bottom: 200px;
}

.productbox-big{
    margin: 15px;
    display: grid;
    grid-template-columns: 35% 40% 25%;
    grid-template-rows: 33% 33% 33%;
    border: 2px solid var(--purple);
}

.productbox-wrapper{
    display: flex;
    flex: row wrap;
    justify-content: space-between;
}

.productbox-img{
    grid-column-start: 1;
    padding: 10px;
}

.productbox-name{
    grid-column-start: 2;
    grid-row: 1;
    margin-top: 20px;
    text-align: center;
}

.productbox-desc{
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
}

.productbox-price{
    grid-column-start: 2;
    grid-row-start: 3;
    text-align: center;
    vertical-align: middle;
}

.productbox-table{
    grid-column-start: 3;
    grid-row-start: 1;
    padding: 20px 20px 0px 0px;
}

.productbox-atc{
    text-align: center;
    grid-column-start: 3;
    grid-row-start: 3;
}
.productbox-atw{
    text-align: center;
    grid-column-start: 3;
    grid-row-start: 3;
    margin-top: 50px;
}

.featured-products{
    border: 2px groove var(--purple);
    margin: 10px;
}

.productbox-med{
    margin: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 30% 20%;
    border: 2px solid var(--purple);
    max-width: 420px;
    min-height: 230px;
    max-height: 500px;
}

.productbox-img-med{
    grid-column-start: 1;
}

.productbox-name-med{
    border: 1px solid var(--purple);
    grid-column-start: 1;
    grid-row: 3;
    max-width: 200px;
    padding: 3px 0px;
    text-align: center;
}

.productbox-desc-med{
    grid-column-start: 2;
    grid-row-start: 1;
}

.productbox-price-med{
    grid-row-start: 2;
    grid-column-start: 2;
    border: 1px solid var(--purple);
    max-width: 170px;
    max-height: 50px;
    text-align: center;
    vertical-align: bottom;
    padding-top: 10px;
}

.atc-med{
    grid-column-start: 2;
    grid-row-start: 3;
    max-width: fit-content;
    max-height: fit-content;
}

.atw-med{
    grid-column-start: 2;
    grid-row-start: 3;
    max-width: fit-content;
    max-height: fit-content;
    margin-left: 80px;
}

.search-bar{
    text-align: center;
    min-height: 45px;
}

.featured-publisher{
    display: flex;
    flex: row wrap;
    justify-content: space-between;
    padding: 15px;

}

.fp-nd{
    align-self: flex-start;
    border: 3px solid var(--purple);
    max-width: 700px;
    text-align: center;
    padding: 10px;
}

.fp-desc{
    padding: 20px;
}

.product-tagline{
    padding: 20px;

}

.page-title{
    text-align: center;
    margin: 10px;
}

.cart-container{
    display: flex;
    justify-content: space-evenly;
}

.shipping{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%; 
}

.info{
    border: 2px solid grey;
    background-color: #777777;
    padding: 10px;
    border-radius: 22px;
}

.checkout-btn{
    border: 1px groove var(--purple);
    max-height: 60px;
    min-width: 256px;
    padding: 10px;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .navmenu-item{
        display: none;
    }
    #homebtn{
        display: inline-block;
    }
  }

